{% extends "layout.html" %}

{% block body %}
  <h1>Pen Information</h1>
  <table border=1>
    <tr>
      <th>Name</th>
      <th>Country of Origin</th>
      <th>Manufacturer</th>
      <th>Date Created</th>
      <th>Date Modified</th>
    </tr>
    <tr>
      <td>{{ pen.name }}</td>
      <td>{{ pen.country }}</td>
      <td>{{ pen.manufacturer }}</td>
      <td>{{ pen.date_created }}</td>
      <td>{{ pen.date_modified }}</td>
    </tr> 
  </table>
  
  <h2 style="margin-top: 40px;">Edit This Pen</h2>
  <form method="POST" action="{{ url_for('pen_edit', pen_id=pen.id) }}">
    <table>
      <tr>
	<td>
	  {{ form.name.label }}
	</td>
	<td>
	  {{ form.name }}
	</td>
	<td>
	  <ul>
	    {% for error in form.name.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.country.label }}
	</td>
	<td>
	  {{ form.country }}
	</td>
	<td>
	  <ul>
	    {% for error in form.country.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
       <tr>
	<td>
	  {{ form.manufacturer.label }}
	</td>
	<td>
	  {{ form.manufacturer }}
	</td>
	<td>
	  <ul>
	    {% for error in form.manufacturer.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
	<td colspan="3">
	  <input type="submit" value="Edit"/>
	</td>
      </tr>
    </table>
  </form>

{% endblock %}
